.carousel-caption h2 {
  font-size: 2.5rem;
  transition: font-size 0.3s ease-in-out;
}

.carousel-wrapper {
  cursor: pointer;
}

.carousel-caption:hover h2 {
  font-size: 3rem;
}

.carousel-item-img {
  max-height: 260px;
  object-fit: cover;
  filter: brightness(50%);
}
