.carousel-caption > h2 {
  font-size: 100px;
  transition: font-size 0.3s ease-in-out;
}

.carousel-wrapper {
  cursor: pointer;
}

.carousel-caption:hover > h2 {
  font-size: 110px;
}

.carousel-item-img {
  max-height: 300px;
  object-fit: cover;
  filter: brightness(50%);
}

@media screen and (max-width: 960px) {
  .carousel-caption > h2 {
    font-size: 70px;
  }

  .carousel-caption:hover > h2 {
    font-size: 75px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption > h2 {
    font-size: 50px;
  }

  .carousel-caption:hover > h2 {
    font-size: 50px;
  }
}
